asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
Django==4.0.2
django-environ==0.8.1
docopt==0.6.2
gitignore==0.0.8
idna==2.10
ignore==0.1.4
ignorefile==0.1.2
mysqlclient==2.1.0
nr.gitignore==1.0.0
python-decouple==3.6
requests==2.25.0
sqlparse==0.4.2
urllib3==1.26.8
